*{
    padding: 0px;
    margin: 0px;
    font-family: Arial;
}
body{
    background-color: rgb(243, 241, 241);
}
header{
    background-color: rgb(250, 250, 250);
}
nav{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
li{
    list-style: none;
    margin: 10px 18px;
}
a{
    text-decoration: none;
    color: black;
    padding: 10px;
}
ul{
    display: flex;
    justify-content: space-around;
    margin: 10px 18px;
}
li a:hover{
    background-color: black;
    color: white;
}
a:hover select{
    background-color: black;
    color: rgb(250, 250, 250);
}
.img1{
    background-image: url(images/img-1.jpg);
}
.shadow{
    background-color: rgba(49, 49, 116, 0.7);
}
.content1{
    height: 700px;
    display: flex;
    color: rgb(175, 173, 173);
    justify-content: center;
    align-items: center;
}
.content1 span{
    font-weight: bold;
    color: white;
}
.imgbtn button{
    padding: 20px 35px;
    font-size: 16px;
    color: white;
    border: 2px solid white;
    background-color: rgba(49, 49, 116, 0.3);
    margin: 12px;
    border-radius: 30px;
}
.imgbtn button:hover{
    background-color: rgb(201, 201, 17);
    border-color: rgb(156, 156, 37);
    cursor: pointer;
}
.hello{
    width: 1200px;
    margin: 100px auto;
}
.hello1{
    display: flex;
    justify-content: space-between;
    color: rgb(79, 78, 78);
}
.hw{
    width: 50%;
    padding: 16px;
}
.img3{
    width: 50%;
}
.ip {
    margin-bottom: 30px;
    display: flex;
}
.ip img{
    margin-right: 18px;
}
.ip p{
    margin-top: 8px;
    font-size: px;
}
.img2{
    background-image: url(images/img-2.jpg);
}
.some{
    width: 1200px;
    margin: auto;
}
.some1{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(189, 182, 182);
}
.ip2{
    display: flex;
    justify-content: space-between;
    margin: 70px 0px;
}
.ip21{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.ip211{
    width: 50px;
    height: 50px;
    border-radius: 45px;
    padding: 18px;
    background-color: rgba(108, 114, 155, 0.36);
}
.ip2 h2{
    color: white;
}
.good{
    width: 1200px;
    margin: 100px auto;
}
.good span{
    color: rgb(93, 73, 137);
    font-weight: bold;
}
.good p{
    width: 550px;
    margin-bottom: 30px;
    color: gray;
}
.good ul{
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.good li{
    margin-left: 0px;
}
.good a:hover{
    background-color: gray;
    padding-top: 15px;
    padding-bottom: 15px;
}
.min{
    display: flex;
    justify-content: space-between;
}
.min img{
    width: 390px;
}
.imgb img{
    height: 550px;
}
.imgs img{
    height: 250px;
}
.l1 .imgs{
    margin-top: 12px;
}
.l2 .imgs{
    margin-top: 12px;
}
.l3 .imgs{
    margin-bottom: 12px;
}
.imgh{
    width: 370px;
    height: 245px;
    text-align: center;
    margin: 26px auto;
    background-image: url(images/2-min.jpg);
}
.imgh1{
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgh1:hover{
    margin: auto;
    background-color: rgba(76, 76, 187, 0.3);
    border: 10px solid rgb(145, 207, 232);
}
.imgh1:hover .plus{
    background-color: rgb(205, 205, 45);
    color: white;
}
.plus{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: white;
    border: none;
    font-size: 25px;
    cursor: pointer;
}
.imgh1 h2{
    color: white;
    margin: 10px 0px;
}
.img4{
    background-image: url(images/img-4.jpg);
}
.records{
    width: 1200px;
    margin: auto;
}
.records1{
    text-align: center;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.num{
    color: white;;
}
.num h3{
    margin: 15px 0px;
}
.num p{
    font-size: 50px;
}
.imgbr{
    width: 90px;
    height: 90px;
    border: 2px solid rgba(108, 114, 155, 0.5);
    border-radius: 60px;
    padding: 10px;
    padding-bottom: 0px;
    background-color: rgba(108, 114, 155, 0.5);
}
.num div:first-child{
    display: flex;
    justify-content: center;
}
.flexible{
    width: 1200px;
    margin: 100px auto;
}
.top{
    text-align: center;
}
.top h1{
    color: rgb(124, 122, 122);
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 0px;
    font-size: 35px;
    font-weight: lighter;
}
.top p{
    color: rgb(139, 138, 138);
    margin-top: 15px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.para1{
    color: gray;
}
.para2{
    color: rgb(219, 218, 218);
}
.card{
    margin: 50px 0px;
    border: 1px solid rgb(169, 168, 168);
    border-radius: 5px;
    box-shadow: 3px 2px rgb(194, 192, 192);
    padding: 20px;
    width: 300px;
    background-color: white;
    text-align: center;
}
.card h2{
    margin: 16px 0px;
}
.card p{
    margin: 16px 0px;
}
.cardbtn button{
    border: 2px solid black;
    width: 180px;
    height: 50px;
    background-color: white;
    font-weight: bold;
    font-size: larger;
    border-radius: 25px;
    cursor: pointer;
}
.cardbtn button:hover{
    color: white;
    background-color: rgb(190, 190, 36);
    border-color: rgb(190, 190, 36);
}
.bgimg3{
    background-image: url(images/img-3.jpg);
}
.testi{
    width: 1200px;
    margin: auto;
}
.testis{
    height: 700px;
    display: flex;
    align-items: center;
}
.testi1{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 30px;
}
.testi1 button{
    border: none;
    padding: 10px;
    cursor: pointer;
}
.testi1 button:first-child{
    background-color: rgb(66, 66, 152);
}
.testi1 button:last-child{
    background-color: rgb(193, 193, 26);
}
.testi2{
    margin: 30px 0px;
    color: rgb(204, 202, 202);
}
.testi3{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 80px;
    color: rgb(204, 202, 202);
}
.testi3 h2{
    color: white;
    margin: 20px 0px;
}
.bigp{
    margin: 20px 0px;
}
.top1 h1{
    color: rgb(124, 122, 122);
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 0px;
    font-size: 35px;
    font-weight: lighter;
}
.top1 p{
    color: rgb(139, 138, 138);
    margin-top: 15px;
}
.footers{
    background-color: rgb(86, 86, 186);
    color: white;
}
.footers1{
    width: 1200px;
    margin: auto;
}
.arrange{
    display: flex;
    justify-content: space-between;
    margin: 70px 0px;
}
.arrange ul{
    display: initial;
    margin: 0px;
}
.arrange li{
    margin: 10px 0px;
}
.arrange a{
    padding: 0px;
    color: rgb(225, 222, 222);
    font-size: 13px;
}
.arrange a:hover{
    background-color: rgb(86, 86, 186);
}
.subs{
    margin-top: 30px;
}
.copy{
    text-align: center;
    border-top: 2px solid white;
    padding: 30px 0px;
    color: rgb(225, 222, 222);
}
.subs input{
    padding: 15px;
    border-color: white;
    border-radius: 23px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.subs a{
    background-color: rgb(204, 136, 9);
    padding: 18px;
    padding-top: 16px;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.subs a:hover{
    background-color: rgb(204, 136, 9);   
}